body {
    background-color: #FFFAEC;
}

/*--------------------------------------------- navbar--------------------------------------------------------------------------- */
nav {
    border-bottom: 1px solid #ffedd4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 32px;
}

.logo i {
    background-color: #FE4B1D;
    color: #fff;
    padding: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.logo p {
    color: #6a7282;
    font-size: 14px;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.nav-item i {
    font-size: 20px;
    color: #4A5565;
    transition: all 0.1s;
}

.nav-item i:hover {
    color: #FE4B1D;
    cursor: pointer;
}

.nav-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffb86a;
    cursor: pointer;

}

.navbar-collapse {
    flex-grow: 0 !important;
}

/*--------------------------------------------------------------------- section---------------------------------- */
section {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ffedd4;
    border-radius: 24px;
}

@media only screen and (max-width: 1400px) {
    section {
        width: 95%;
    }
}

.img-part {
    overflow: hidden;
    height: 100%;
}

.img-part img {
    height: 100%;
    object-fit: cover;
    border-radius: 24px 0 0 24px;
    object-position: center;
}

.spans .difficulty {
    padding: 3px 12px;
    border-radius: 16px;
    background-color: #DBFCE7;
    color: #008236;
    font-size: 12px;
    font-weight: 600;
}

.spans .region {
    padding: 3px 12px;
    border-radius: 16px;
    background-color: #DBEAFE;
    color: #1447e6;
    font-size: 12px;
    font-weight: 600;
}

.icons i {
    color: #FE4B1D;
    background-color: #ffedd4;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}


#pills-tab {
    border-bottom: 1px solid #ded8d8;
    margin-bottom: 32px;
}

.navs ul button {
    color: #364153;
}


.nav-item .nav-link:hover,
.nav-item .nav-link:hover i {
    color: #2f3845;
}

.nav-item .nav-link:focus,
.nav-item .nav-link:active {
    border-bottom: 2px solid #FE4B1D;
    color: #FE4B1D;
}

.nav-item .nav-link:focus i {
    color: #FE4B1D;
}

#pills-ingredients {
    background-color: #FFF9EC;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
}

.ingredient-item .number {
    background-color: #FE4B1D;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.instruction-item .number {
    background-color: #FE4B1D;
    color: #fff;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.nutrition-items p {
    margin-bottom: 0;
}

.cal i {
    color: #FE4B1D;
    background-color: #FFEDD4;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
}

.carb i {
    color: #D08700;
    background-color: #FEF9C2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
}

.fiber i {
    color: #008236;
    background-color: #DBFCE7;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
}

.protein i {
    color: #1447e6;
    background-color: #DBEAFE;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
}

.fat i {
    color: #E7000B;
    background-color: #FFE2E2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
}

.sodium i {
    color: #E60076;
    background-color: #FCE7F3;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
}

.tips-item {
    background-color: #FFFBEB;
    padding: 24px;
    border-radius: 12px;
    border-left: 4px solid #FFBA02;
}


.tips-item i {
    background-color: #FE4B1D;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.navs {
    border-bottom: 1px solid #ded8d8;
    margin-bottom: 32px;
}

.card-btn .btnn {
    background: #f5884e;
    background: linear-gradient(145deg, rgb(228, 132, 80) 16%, rgb(232, 65, 39)66%);
    color: #fff;
    border-radius: 12px;
    padding: 12px 24px;
    border: none;
    transition: all 0.2s;
}

.card-btn .btnn:hover {
    background-color: #E7000B;
    transform: scale(1.07);
}

/* ----------------------------------- scroll  --------------------------------- */

#section .col-7 {
    overflow-y: auto;
    height: 700px;
}

.col-7::-webkit-scrollbar {
    width: 6px;
}

.col-7::-webkit-scrollbar-track {
    background: #fff !important;
    border-radius: 10px;
}

.col-7::-webkit-scrollbar-thumb {
    background-color: #FFDBD2 !important;
    border-radius: 10px;
    transition: all 0.2s;
}

.col-7::-webkit-scrollbar-thumb:hover {
    background: #a85857 !important;
}

/* ------------------------------- */


#section .overflow {
    overflow-y: auto;
    height: 350px;
}

.overflow::-webkit-scrollbar {
    width: 6px;
}

.overflow::-webkit-scrollbar-track {
    background-color: #fff !important;
    border-radius: 10px;
}

.overflow::-webkit-scrollbar-thumb {
    background-color: #FFDBD2 !important;
    border-radius: 10px;
    transition: all 0.2s;
}



.overflow::-webkit-scrollbar-thumb:hover {
    background: #a85857 !important;
}

/* ------------------------------------------------------------------- */
.span-absolute {
    top: 20px;
    left: 20px;
    z-index: 2;
    background-color: white;
    padding: 6px 12px;
    border-radius: 12px;
}

.overlay {
    bottom: 20px;
    left: 20px;
    z-index: 2;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
    width: 90%;
}

.alert {
    border-left: 5px solid #FE4B1D;
    border-radius: 12px;
    background-color: #FEF2F2 !important;
}

h6 {
    color: #9f0712;
}

.icons i {
    transition: all 0.2s;
}

.icons i:hover {
    background-color: #FFD6A7;
    cursor: pointer;
}

@media (max-width: 786px) {
    section{
        width: 90%;
    }
    #section .nav-item .nav-link {
        font-size: 12px;
    }

    .head p {
        width: 100%;
    }
}
.navbar-toggler-icon {
    border: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4px;
    background-image: url(../images/bars-solid-full.svg);
    background-repeat: no-repeat;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}